<div class="admin-menu-container border">
    <h4>Admin Menu</h4>
    <hr>
    <ul id="admin-menu-ul" class="list-unstyled">
        <li><a href="/admin/">Manage Projects</a></li>
        <li><a href="/admin/user">Manage Users</a></li>
        <li><a href="/admin/team">Manage Teams</a></li>
        <li><a href="/admin/ticket">Manage Tickets</a></li>
    </ul>
</div>

