<div class="issue-menu-selector navbar navbar-light" id="view-Selector">
  <p>
    Select Issues to Display:
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;
  </p>
  <p>
    <select name="view-category" id="view-category" class="form-control">
      <option selected="selected" value="user">User</option>
      <option value="team">Team</option>
      <option value="project">Project</option>
    </select>
  </p>
  <p>
    &nbsp;&nbsp;&nbsp;
  </p>
  <p>
    <select name="view-item" id="view-item" class="form-control">
    </select>
  </p>
</div>

<script src="/javascript/dash-view.js"></script>