{{> navbar}}

    <header>
        <h1>Welcome To The Admin Console</h1>
    </header>
    <main>
        <p>User Management Center</p>
        <button><a href="/dashboard/admin/user">User</a></button>
        <p>Ticket Management Center</p>
        <button><a href="/dashboard/admin/ticket">Tickets</a></button>
    </main>
