{{> styles}}
    <header>
      {{> navbar}}
      <h2 class="page-title">Welcome To The Admin Console</h2>
    </header>
    <main>
        <p>User Management Center</p>
        <button><a href="/admin/user">User</a></button>
        <p>Ticket Management Center</p>
        <button><a href="/admin/ticket">Tickets</a></button>
    </main>
  
