<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Developer Login</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <header>
        <h1>Welcome to Developer Login</h1>
    </header>
    <main>
        <form>
            <p>Username:</p>
            <input type="text" name="username" placeholder="username">
            <p>Password:</p>
            <input type="password" name="password" placeholder="password">
        </form>
        <a href="./index.html">Back to Homepage</a>
    </main>
  <script src="js/scripts.js"></script>
</body>
</html>