<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Git Ticketing System</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <header>
        <h1>Welcome to Git Ticketing System</h1>
    </header>
    <main>
        <div class="client">
            <h2>I am a client</h2>
            <button><a href="./client-form.html">Click Here</a></button>
        </div>
        <div class="developer">
            <h2>I am a developer</h2>
            <button><a href="./developer-login.html">Click Here</a></button>
        </div>
    </main>
  <script src="js/scripts.js"></script>
</body>
</html>