
    <header>
        <h1>Welcome to Git Ticketing System</h1>
    </header>
    <main>
        <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Client</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
            </div>
          </div>
        <div class="client">
            <h2>I am a client</h2>
            <button class="btn"><a href="./client-form.html">Click Here</a></button>
        </div>
        <div class="developer">
            <h2>I am a developer</h2>
            <button class="btn"><a href="./developer-login.html">Click Here</a></button>
        </div>
        
    </main>
    <footer>

    </footer>
<script src="js/scripts.js"></script>