<header>
  {{> navbar}}
  <h2 class="page-title bg-secondary">Welcome to Git Ticketing System</h1>
</header>
<main>
  <div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Submit A Ticket</h5>
          <p class="card-text"></p>
          <a href="/ticket" class="btn btn-dark">Create Ticket</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Developer Console</h5>
          <p class="card-text"></p>
          <a href="/login" class="btn btn-dark">Login</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</main>