<header>
    {{> navbar}}
    <h2 class="page-title">Login</h2>
</header>
<div class="mx-auto text-danger" id="message"></div>
<div class='login-container'>
    <form class="login-form">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                </span>
            </div>
            <input type="text" class="form-control" placeholder="Username" id="username" aria-label="username"
                aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon2">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                        <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                    </svg>
                </span>
            </div>
            <input type="password" class="form-control" placeholder="Password" id="password" aria-label="password"
                aria-describedby="basic-addon2">
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-dark btn-block">Login</button>
        </div>
    </form>
</div>
<script src="/javascript/login.js"></script>
