{{> styles}}

    <header>
        {{> navbar}}
        <h2 class="page-title">Welcome to the Ticket Management Center</h2>
    </header>
    <main>
        <a href="./admin-console.html">Back To Admin Console</a>
    </main>