<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>User Management Center</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <header>
        <h1>Welcome to the User Management Center</h1>
    </header>
    <main>
        <a href="./admin-console.html">Back To Admin Console</a>
        <p>Create a new User</p>
        <button><a href="user-create.html">Create User</a></button>
        
    </main>
  <script src="js/scripts.js"></script>
</body>
</html>