{{> styles}}

    <header>
        {{> navbar}}
        <h2 class="page-title">Welcome to the User Management Center</h2>
    </header>
    <main>
        <a href="./admin-console.html">Back To Admin Console</a>
        <p>Create a new User</p>
        <button><a href="user-create.html">Create User</a></button>
        
    </main>
  <script src="js/scripts.js"></script>
