* {
  box-sizing: border-box;
}

:root {
  --secondary: #497980;
  --tertiary: rgb(192, 246, 253);
  --grey: #333;
}

body {
  background: white;
  color: var(--grey);
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-title {
  text-align: center;
  padding: 15px 5px;
  background-color: var(--secondary);
  color: #ffffff;
}

/* Login page styles */
.login-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
}
#admin-menu-ul {
  list-style-type: none;
}
#admin-menu-ul a {
  text-decoration: none;
  color: black;
}
.admin-container {
  width: 100%;
  padding: 35px 25px;
}
.admin-menu-container {
  padding: 15px;
  margin-bottom: 30px;
}
.client-ticket-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
}

.issue-menu-nav {
  max-width: 1200px;
  width: 100%;
  padding: 15px 20px;
  margin: 0 auto;
  border-bottom: 1px solid #e1e1e1;
}

.issue-menu-selector {
  max-width: 1200px;
  width: 100%;
  padding: 15px 20px;
  margin: 0 auto;
  border-bottom: 1px solid #e1e1e1;
  justify-content: center;
}

.create-issue-form {
  max-width: 500px;
  width: 100%;
}

.light-text {
  color: #999999;
}
.space-below {
  margin-bottom: 35px;
}

.ticket-card {
  margin: 25px 0;
}

.table td,
.table th {
  padding: 0.5rem !important;
}

#admin-menu-ul li {
  margin: 10px 0;
}

@media screen and (max-width: 768px) {
  .admin-container {
    padding: 25px 10px;
  }
  .btn {
    width: 100%;
    margin: 5px;
  }
}
