* {
    box-sizing: border-box;
  }

  :root {
    --primary: #44e9ff;
    --secondary: #497980;
    --tertiary: rgb(192, 246, 253);
    --grey: #333;
    /*font-size: 62.5%;*/
  }

  body {
    background: white;
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  

.page-title {
  text-align: center;
  padding: 15px 5px;
  background-color: var(--secondary);
  color: #ffffff;
}

/* Login page styles */
.login-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
}

.client-ticket-container {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 25px;
}

.issue-menu-nav {
  max-width: 1200px;
  width: 100%;
  padding: 15px 20px;
  margin: 0 auto;
  border-bottom: 1px solid #E1E1E1;
}

.create-issue-form {
  max-width: 500px;
  width: 100%;
}
