<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Submit A Client Form</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

</head>

<body>
    <header>
        <h1>Submit A Client Request Here</h1>
    </header>

    <main>
        <form>
            <p>Title:</p>
            <input type="text" name="title" placeholder="title">
            <p>Description of Issue:</p>
            <input type="text" name="description" placehoder="description">
            <p>Client Phone Number:</p>
            <input type="text" name="phone-number" placeholder="phone-number">
            <p>Client Email Address:</p>
            <input type="text" name="email-address" placeholder="email-address">
        </form>
        <a href="./index.html">Back to Homepage</a>
       

    </main>
  <script src="js/scripts.js"></script>
</body>
</html>